xml {
	font: 'Calibri'
}

Structure {
    color: black;
    background-color: #ffe0cc;
}

Settlement {
    color: black;
    background-color: #ffc299;
}


Territory {
    color: black;
    background-color: #ff751a;
}

Landmark {
    color: black;
    background-color: #ccff99;
}

persName {
    color: black;
    background-color: #cc99ff;
}

humanGroup[type="religious_group"] {
    color: black;
    background-color: #e6ccff;
}

humanGroup[type="political_group"] {
    color: black;
    background-color: #bf80ff;
}

humanGroup[type="indigenous_group"] {
    color: black;
    background-color: #aa00ff;
}

Concept_Structure {
    color: black;
    background-color: #f2f2f2;
}

Concept_Settlement {
    color: black;
	font-weight: bold;
    background-color: #f2f2f2;
}

Concept_District {
    color: black;
	font-style: italic;
    background-color: #f2f2f2;
}

Concept_Territory {
    color: black;
	font-weight: bold;
	font-style: italic;
    background-color: #f2f2f2;
}

Concept_Landmark {
    color: black;
	text-decoration: underline;
    background-color: #f2f2f2;
}

Concept_Group {
    color: black;
    background-color: #f6f6f6;
}

Concept_humanGroup {
    color: black;
    background-color: #f6f6f6;
}



zbr::after{
    content: "\a";
    white-space: pre;
}